[Unit]
Description=Phosphor Fan Alogrithm Control
Wants=xyz.openbmc_project.State.Chassis.service
After=xyz.openbmc_project.State.Chassis.service

[Service]
Restart=always
ExecStart={sbindir}/fan_algorithm.exe
ExecStopPost=/usr/bin/python /usr/sbin/set_fan_max_speed.py

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
