[Unit]
Description=Init I2C Bus Semaphores

[Service]
Type=oneshot
ExecStart=/usr/sbin/ocslocks-init
Restart=no

[Install]
WantedBy=multi-user.target
